{{!
    @template local_exammode/new_page

    Page to schedule a new exam.

    Context variables:
    * form. The newpage form in HTML format :)
}}
<div class="scheduled_exammodes">

    <h1>{{#str}}newexam, local_exammode{{/str}}</h1>
    
    <p>{{#str}}newexamdesc, local_exammode{{/str}}</p>

    {{{form}}}

</div>
