{{!
    @template local_exammode/new_page

    Page to schedule a new exam.

    Context variables:
    
}}
<div class="scheduled_exammodes">

    <form>
        <label for="date" class="form-label">{{#str}} date{{/str}}</label>
        <input class="form-control" type="date" name="date" id="date" />
        
        <label for="timefrom" class="form-label">{{#str}} timefrom, local_exammode{{/str}}</label>
        <input class="form-control" type="time" name="timefrom" id="timefrom" />

        <label for="timeto" class="form-label">{{#str}} timeto, local_exammode{{/str}}</label>
        <input class="form-control" type="time" name="timeto" id="timeto" />
    </form>

</div>
